@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot?v2');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons-halflings-regular.woff?v2') format('woff'),
         url('../fonts/glyphicons-halflings-regular.ttf?v2') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg#glyph') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Init ------------------------------------
@import 'bootsketch-mixins';
@import 'bootsketch-variables';
@import 'bootstrap';

// LAYOUT ----------------------------------
@import 'layout/buttons.scss';
@import 'layout/code.scss';
@import 'layout/form.scss';
@import 'layout/icons.scss';
@import 'layout/images.scss';
@import 'layout/tables.scss';
@import 'layout/typography.scss';

// COMPONENTS -------------------------------
@import 'components/alerts.scss';
@import 'components/badges.scss';
@import 'components/breadcrumb.scss';
@import 'components/button-groups.scss';
@import 'components/input-groups.scss';
@import 'components/jumbotron.scss';
@import 'components/labels.scss';
@import 'components/list-group.scss';
@import 'components/media.scss';
@import 'components/nav.scss';
@import 'components/navbar.scss';
@import 'components/pager.scss';
@import 'components/paginations.scss';
@import 'components/panels.scss';
@import 'components/progress-bar.scss';
@import 'components/thumbnails.scss';
@import 'components/well.scss';

// JAVASCRIPT WIDGET -------------------------
@import 'javascript/alert.scss';
@import 'javascript/buttons.scss';
@import 'javascript/carousel.scss';
@import 'javascript/collapse.scss';
@import 'javascript/dropdown.scss';
@import 'javascript/modal.scss';
@import 'javascript/popover.scss';
@import 'javascript/scrollspy.scss';
@import 'javascript/tab.scss';
@import 'javascript/tooltips.scss';