@charset "UTF-8";

/*doc
---
title: Colors
name: a-colors
category: Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#222;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-darker</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#333;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-dark</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#555;"><br><br><br><br><br></div>
      <pre class="text-center">$gray</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#999;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-light</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#eee;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-lighter</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#428bca;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-primary</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#5cb85c;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-success</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#5bc0de;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-info</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f0ad4e;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-warning</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#d9534f;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-danger</pre>
    </div>

  </div>
</div>
*/


/*doc
---
title: Bootflat colors
name: b-bootfalt-colors
category: Layout - Colors
---

All the colors are in `-light` or `-dark` variant.

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#5D9CEC;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#4A89DC;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$bluejeans</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#4FC1E9;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#3BAFDA;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$aqua</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#48CFAD;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#37BC9B;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$mint</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#A0D468;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#8CC152;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$grass</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#FFCE54;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#F6BB42;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$sunflower</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#FC6E51;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#E9573F;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$bittersweet</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#ED5565;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#DA4453;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$grapefruit</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#AC92EC;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#967ADC;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$lavender</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#EC87C0;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#D770AD;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$pinkrose</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#F5F7FA;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#E6E9ED;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$lightgray</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#CCD1D9;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#AAB2BD;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$mediumgray</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#656D78;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#434A54;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$darkgray</pre>
    </div>
  </div>
</div>
*/
