@charset "UTF-8";

/*doc
---
title: Alerts
name: a-alerts
category: Components - Alerts
---

```html_example
<div class="alert alert-success">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<div class="alert alert-info">
  <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>
<div class="alert alert-warning">
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
<div class="alert alert-danger">
  <strong>Oh snap!</strong> Change a few things up and try submitting again.
</div>
```
*/



/*doc
---
title: Dismissable alerts
name: b-dismissable-alerts
category: Components - Alerts
---

```html_example
<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
```
*/