@charset "UTF-8";

/*doc
---
title: Breadcrumb
name: a-breadcrumb
category: Components - Breadcrumb
---

```html_example
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
```
*/