@charset "UTF-8";

/*doc
---
title: Jumbotron
name: a-jumbotron
category: Components - Jumbotron
---

```html_example
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non enim iam stirpis bonum quaeret, sed animalis. Nec vero alia sunt quaerenda.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
```
*/