@charset "UTF-8";

/*doc
---
title: Default pager
name: a-default-pager
category: Components - Pager
---

```html_example
<ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>
```
*/



/*doc
---
title: Align links
name: b-align-link
category: Components - Pager
---

```html_example
<ul class="pager">
  <li class="previous"><a href="#">&larr; Older</a></li>
  <li class="next"><a href="#">Newer &rarr;</a></li>
</ul>
```
*/



/*doc
---
title: Disabled
name: c-disabled
category: Components - Pager
---

```html_example
<ul class="pager">
  <li class="previous disabled"><a href="#">&larr; Older</a></li>
  <li class="next"><a href="#">Newer &rarr;</a></li>
</ul>
```
*/
