@charset "UTF-8";

/*doc
---
title: Default well
name: a-well
category: Components - Well
---

```html_example
<div class="well">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
```
*/


/*doc
---
title: Sizes
name: b-sizes
category: Components - Well
---

```html_example
<div class="well well-lg">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
<div class="well well-sm">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
```
*/