@charset "UTF-8";

/*doc
---
title: Accordion
name: a-accordion
category: JavaScript - Collapse
---

```html_example
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Cum id fugiunt, re eadem defendunt, quae Peripatetici, verba. Duo Reges: constructio interrete.
      </div>
    </div>
  </div>
</div>
```
*/



/*doc
---
title: Collapse button
name: b-collapse-button
category: JavaScript - Collapse
---

```html_example
<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  Collapse
</button>

<br><br>

<div id="demo" class="collapse">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae enim adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. Non est igitur voluptas bonum. Teneo, inquit, finem illi videri nihil dolere. Non quam nostram quidem, inquit Pomponius iocans; Non igitur potestis voluptate omnia dirigentes aut tueri aut retinere virtutem. Duo Reges: constructio interrete. Ex ea difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt.
</div>
```
*/

