@charset "UTF-8";

/*doc
---
title: Icons
name: a-icons
category: Layout - Icons
---

Just use the `glyphicon` class followed by the specific icon class.

```html_example
<a href="#">
  <span class="glyphicon glyphicon-map-marker"></span> Check on the map
</a>
```


|  Icon                                                              |  Class                                                 |
|--------------------------------------------------------------------|--------------------------------------------------------|
|  <span class="glyphicon glyphicon-asterisk"></span>                |  <pre>glyphicon glyphicon-asterisk</pre>               |
|  <span class="glyphicon glyphicon-plus"></span>                    |  <pre>glyphicon glyphicon-plus</pre>                   |
|  <span class="glyphicon glyphicon-euro"></span>                    |  <pre>glyphicon glyphicon-euro</pre>                   |
|  <span class="glyphicon glyphicon-minus"></span>                   |  <pre>glyphicon glyphicon-minus</pre>                  |
|  <span class="glyphicon glyphicon-cloud"></span>                   |  <pre>glyphicon glyphicon-cloud</pre>                  |
|  <span class="glyphicon glyphicon-envelope"></span>                |  <pre>glyphicon glyphicon-envelope</pre>               |
|  <span class="glyphicon glyphicon-pencil"></span>                  |  <pre>glyphicon glyphicon-pencil</pre>                 |
|  <span class="glyphicon glyphicon-glass"></span>                   |  <pre>glyphicon glyphicon-glass</pre>                  |
|  <span class="glyphicon glyphicon-music"></span>                   |  <pre>glyphicon glyphicon-music</pre>                  |
|  <span class="glyphicon glyphicon-search"></span>                  |  <pre>glyphicon glyphicon-search</pre>                 |
|  <span class="glyphicon glyphicon-heart"></span>                   |  <pre>glyphicon glyphicon-heart</pre>                  |
|  <span class="glyphicon glyphicon-star"></span>                    |  <pre>glyphicon glyphicon-star</pre>                   |
|  <span class="glyphicon glyphicon-star-empty"></span>              |  <pre>glyphicon glyphicon-star-empty</pre>             |
|  <span class="glyphicon glyphicon-user"></span>                    |  <pre>glyphicon glyphicon-user</pre>                   |
|  <span class="glyphicon glyphicon-film"></span>                    |  <pre>glyphicon glyphicon-film</pre>                   |
|  <span class="glyphicon glyphicon-th-large"></span>                |  <pre>glyphicon glyphicon-th-large</pre>               |
|  <span class="glyphicon glyphicon-th"></span>                      |  <pre>glyphicon glyphicon-th</pre>                     |
|  <span class="glyphicon glyphicon-th-list"></span>                 |  <pre>glyphicon glyphicon-th-list</pre>                |
|  <span class="glyphicon glyphicon-ok"></span>                      |  <pre>glyphicon glyphicon-ok</pre>                     |
|  <span class="glyphicon glyphicon-remove"></span>                  |  <pre>glyphicon glyphicon-remove</pre>                 |
|  <span class="glyphicon glyphicon-zoom-in"></span>                 |  <pre>glyphicon glyphicon-zoom-in</pre>                |
|  <span class="glyphicon glyphicon-zoom-out"></span>                |  <pre>glyphicon glyphicon-zoom-out</pre>               |
|  <span class="glyphicon glyphicon-off"></span>                     |  <pre>glyphicon glyphicon-off</pre>                    |
|  <span class="glyphicon glyphicon-signal"></span>                  |  <pre>glyphicon glyphicon-signal</pre>                 |
|  <span class="glyphicon glyphicon-cog"></span>                     |  <pre>glyphicon glyphicon-cog</pre>                    |
|  <span class="glyphicon glyphicon-trash"></span>                   |  <pre>glyphicon glyphicon-trash</pre>                  |
|  <span class="glyphicon glyphicon-home"></span>                    |  <pre>glyphicon glyphicon-home</pre>                   |
|  <span class="glyphicon glyphicon-file"></span>                    |  <pre>glyphicon glyphicon-file</pre>                   |
|  <span class="glyphicon glyphicon-time"></span>                    |  <pre>glyphicon glyphicon-time</pre>                   |
|  <span class="glyphicon glyphicon-road"></span>                    |  <pre>glyphicon glyphicon-road</pre>                   |
|  <span class="glyphicon glyphicon-download-alt"></span>            |  <pre>glyphicon glyphicon-download-alt</pre>           |
|  <span class="glyphicon glyphicon-download"></span>                |  <pre>glyphicon glyphicon-download</pre>               |
|  <span class="glyphicon glyphicon-upload"></span>                  |  <pre>glyphicon glyphicon-upload</pre>                 |
|  <span class="glyphicon glyphicon-inbox"></span>                   |  <pre>glyphicon glyphicon-inbox</pre>                  |
|  <span class="glyphicon glyphicon-play-circle"></span>             |  <pre>glyphicon glyphicon-play-circle</pre>            |
|  <span class="glyphicon glyphicon-repeat"></span>                  |  <pre>glyphicon glyphicon-repeat</pre>                 |
|  <span class="glyphicon glyphicon-refresh"></span>                 |  <pre>glyphicon glyphicon-refresh</pre>                |
|  <span class="glyphicon glyphicon-list-alt"></span>                |  <pre>glyphicon glyphicon-list-alt</pre>               |
|  <span class="glyphicon glyphicon-lock"></span>                    |  <pre>glyphicon glyphicon-lock</pre>                   |
|  <span class="glyphicon glyphicon-flag"></span>                    |  <pre>glyphicon glyphicon-flag</pre>                   |
|  <span class="glyphicon glyphicon-headphones"></span>              |  <pre>glyphicon glyphicon-headphones</pre>             |
|  <span class="glyphicon glyphicon-volume-off"></span>              |  <pre>glyphicon glyphicon-volume-off</pre>             |
|  <span class="glyphicon glyphicon-volume-down"></span>             |  <pre>glyphicon glyphicon-volume-down</pre>            |
|  <span class="glyphicon glyphicon-volume-up"></span>               |  <pre>glyphicon glyphicon-volume-up</pre>              |
|  <span class="glyphicon glyphicon-qrcode"></span>                  |  <pre>glyphicon glyphicon-qrcode</pre>                 |
|  <span class="glyphicon glyphicon-barcode"></span>                 |  <pre>glyphicon glyphicon-barcode</pre>                |
|  <span class="glyphicon glyphicon-tag"></span>                     |  <pre>glyphicon glyphicon-tag</pre>                    |
|  <span class="glyphicon glyphicon-tags"></span>                    |  <pre>glyphicon glyphicon-tags</pre>                   |
|  <span class="glyphicon glyphicon-book"></span>                    |  <pre>glyphicon glyphicon-book</pre>                   |
|  <span class="glyphicon glyphicon-bookmark"></span>                |  <pre>glyphicon glyphicon-bookmark</pre>               |
|  <span class="glyphicon glyphicon-print"></span>                   |  <pre>glyphicon glyphicon-print</pre>                  |
|  <span class="glyphicon glyphicon-camera"></span>                  |  <pre>glyphicon glyphicon-camera</pre>                 |
|  <span class="glyphicon glyphicon-font"></span>                    |  <pre>glyphicon glyphicon-font</pre>                   |
|  <span class="glyphicon glyphicon-bold"></span>                    |  <pre>glyphicon glyphicon-bold</pre>                   |
|  <span class="glyphicon glyphicon-italic"></span>                  |  <pre>glyphicon glyphicon-italic</pre>                 |
|  <span class="glyphicon glyphicon-text-height"></span>             |  <pre>glyphicon glyphicon-text-height</pre>            |
|  <span class="glyphicon glyphicon-text-width"></span>              |  <pre>glyphicon glyphicon-text-width</pre>             |
|  <span class="glyphicon glyphicon-align-left"></span>              |  <pre>glyphicon glyphicon-align-left</pre>             |
|  <span class="glyphicon glyphicon-align-center"></span>            |  <pre>glyphicon glyphicon-align-center</pre>           |
|  <span class="glyphicon glyphicon-align-right"></span>             |  <pre>glyphicon glyphicon-align-right</pre>            |
|  <span class="glyphicon glyphicon-align-justify"></span>           |  <pre>glyphicon glyphicon-align-justify</pre>          |
|  <span class="glyphicon glyphicon-list"></span>                    |  <pre>glyphicon glyphicon-list</pre>                   |
|  <span class="glyphicon glyphicon-indent-left"></span>             |  <pre>glyphicon glyphicon-indent-left</pre>            |
|  <span class="glyphicon glyphicon-indent-right"></span>            |  <pre>glyphicon glyphicon-indent-right</pre>           |
|  <span class="glyphicon glyphicon-facetime-video"></span>          |  <pre>glyphicon glyphicon-facetime-video</pre>         |
|  <span class="glyphicon glyphicon-picture"></span>                 |  <pre>glyphicon glyphicon-picture</pre>                |
|  <span class="glyphicon glyphicon-map-marker"></span>              |  <pre>glyphicon glyphicon-map-marker</pre>             |
|  <span class="glyphicon glyphicon-adjust"></span>                  |  <pre>glyphicon glyphicon-adjust</pre>                 |
|  <span class="glyphicon glyphicon-tint"></span>                    |  <pre>glyphicon glyphicon-tint</pre>                   |
|  <span class="glyphicon glyphicon-edit"></span>                    |  <pre>glyphicon glyphicon-edit</pre>                   |
|  <span class="glyphicon glyphicon-share"></span>                   |  <pre>glyphicon glyphicon-share</pre>                  |
|  <span class="glyphicon glyphicon-check"></span>                   |  <pre>glyphicon glyphicon-check</pre>                  |
|  <span class="glyphicon glyphicon-move"></span>                    |  <pre>glyphicon glyphicon-move</pre>                   |
|  <span class="glyphicon glyphicon-step-backward"></span>           |  <pre>glyphicon glyphicon-step-backward</pre>          |
|  <span class="glyphicon glyphicon-fast-backward"></span>           |  <pre>glyphicon glyphicon-fast-backward</pre>          |
|  <span class="glyphicon glyphicon-backward"></span>                |  <pre>glyphicon glyphicon-backward</pre>               |
|  <span class="glyphicon glyphicon-play"></span>                    |  <pre>glyphicon glyphicon-play</pre>                   |
|  <span class="glyphicon glyphicon-pause"></span>                   |  <pre>glyphicon glyphicon-pause</pre>                  |
|  <span class="glyphicon glyphicon-stop"></span>                    |  <pre>glyphicon glyphicon-stop</pre>                   |
|  <span class="glyphicon glyphicon-forward"></span>                 |  <pre>glyphicon glyphicon-forward</pre>                |
|  <span class="glyphicon glyphicon-fast-forward"></span>            |  <pre>glyphicon glyphicon-fast-forward</pre>           |
|  <span class="glyphicon glyphicon-step-forward"></span>            |  <pre>glyphicon glyphicon-step-forward</pre>           |
|  <span class="glyphicon glyphicon-eject"></span>                   |  <pre>glyphicon glyphicon-eject</pre>                  |
|  <span class="glyphicon glyphicon-chevron-left"></span>            |  <pre>glyphicon glyphicon-chevron-left</pre>           |
|  <span class="glyphicon glyphicon-chevron-right"></span>           |  <pre>glyphicon glyphicon-chevron-right</pre>          |
|  <span class="glyphicon glyphicon-plus-sign"></span>               |  <pre>glyphicon glyphicon-plus-sign</pre>              |
|  <span class="glyphicon glyphicon-minus-sign"></span>              |  <pre>glyphicon glyphicon-minus-sign</pre>             |
|  <span class="glyphicon glyphicon-remove-sign"></span>             |  <pre>glyphicon glyphicon-remove-sign</pre>            |
|  <span class="glyphicon glyphicon-ok-sign"></span>                 |  <pre>glyphicon glyphicon-ok-sign</pre>                |
|  <span class="glyphicon glyphicon-question-sign"></span>           |  <pre>glyphicon glyphicon-question-sign</pre>          |
|  <span class="glyphicon glyphicon-info-sign"></span>               |  <pre>glyphicon glyphicon-info-sign</pre>              |
|  <span class="glyphicon glyphicon-screenshot"></span>              |  <pre>glyphicon glyphicon-screenshot</pre>             |
|  <span class="glyphicon glyphicon-remove-circle"></span>           |  <pre>glyphicon glyphicon-remove-circle</pre>          |
|  <span class="glyphicon glyphicon-ok-circle"></span>               |  <pre>glyphicon glyphicon-ok-circle</pre>              |
|  <span class="glyphicon glyphicon-ban-circle"></span>              |  <pre>glyphicon glyphicon-ban-circle</pre>             |
|  <span class="glyphicon glyphicon-arrow-left"></span>              |  <pre>glyphicon glyphicon-arrow-left</pre>             |
|  <span class="glyphicon glyphicon-arrow-right"></span>             |  <pre>glyphicon glyphicon-arrow-right</pre>            |
|  <span class="glyphicon glyphicon-arrow-up"></span>                |  <pre>glyphicon glyphicon-arrow-up</pre>               |
|  <span class="glyphicon glyphicon-arrow-down"></span>              |  <pre>glyphicon glyphicon-arrow-down</pre>             |
|  <span class="glyphicon glyphicon-share-alt"></span>               |  <pre>glyphicon glyphicon-share-alt</pre>              |
|  <span class="glyphicon glyphicon-resize-full"></span>             |  <pre>glyphicon glyphicon-resize-full</pre>            |
|  <span class="glyphicon glyphicon-resize-small"></span>            |  <pre>glyphicon glyphicon-resize-small</pre>           |
|  <span class="glyphicon glyphicon-exclamation-sign"></span>        |  <pre>glyphicon glyphicon-exclamation-sign</pre>       |
|  <span class="glyphicon glyphicon-gift"></span>                    |  <pre>glyphicon glyphicon-gift</pre>                   |
|  <span class="glyphicon glyphicon-leaf"></span>                    |  <pre>glyphicon glyphicon-leaf</pre>                   |
|  <span class="glyphicon glyphicon-fire"></span>                    |  <pre>glyphicon glyphicon-fire</pre>                   |
|  <span class="glyphicon glyphicon-eye-open"></span>                |  <pre>glyphicon glyphicon-eye-open</pre>               |
|  <span class="glyphicon glyphicon-eye-close"></span>               |  <pre>glyphicon glyphicon-eye-close</pre>              |
|  <span class="glyphicon glyphicon-warning-sign"></span>            |  <pre>glyphicon glyphicon-warning-sign</pre>           |
|  <span class="glyphicon glyphicon-plane"></span>                   |  <pre>glyphicon glyphicon-plane</pre>                  |
|  <span class="glyphicon glyphicon-calendar"></span>                |  <pre>glyphicon glyphicon-calendar</pre>               |
|  <span class="glyphicon glyphicon-random"></span>                  |  <pre>glyphicon glyphicon-random</pre>                 |
|  <span class="glyphicon glyphicon-comment"></span>                 |  <pre>glyphicon glyphicon-comment</pre>                |
|  <span class="glyphicon glyphicon-magnet"></span>                  |  <pre>glyphicon glyphicon-magnet</pre>                 |
|  <span class="glyphicon glyphicon-chevron-up"></span>              |  <pre>glyphicon glyphicon-chevron-up</pre>             |
|  <span class="glyphicon glyphicon-chevron-down"></span>            |  <pre>glyphicon glyphicon-chevron-down</pre>           |
|  <span class="glyphicon glyphicon-retweet"></span>                 |  <pre>glyphicon glyphicon-retweet</pre>                |
|  <span class="glyphicon glyphicon-shopping-cart"></span>           |  <pre>glyphicon glyphicon-shopping-cart</pre>          |
|  <span class="glyphicon glyphicon-folder-close"></span>            |  <pre>glyphicon glyphicon-folder-close</pre>           |
|  <span class="glyphicon glyphicon-folder-open"></span>             |  <pre>glyphicon glyphicon-folder-open</pre>            |
|  <span class="glyphicon glyphicon-resize-vertical"></span>         |  <pre>glyphicon glyphicon-resize-vertical</pre>        |
|  <span class="glyphicon glyphicon-resize-horizontal"></span>       |  <pre>glyphicon glyphicon-resize-horizontal</pre>      |
|  <span class="glyphicon glyphicon-hdd"></span>                     |  <pre>glyphicon glyphicon-hdd</pre>                    |
|  <span class="glyphicon glyphicon-bullhorn"></span>                |  <pre>glyphicon glyphicon-bullhorn</pre>               |
|  <span class="glyphicon glyphicon-bell"></span>                    |  <pre>glyphicon glyphicon-bell</pre>                   |
|  <span class="glyphicon glyphicon-certificate"></span>             |  <pre>glyphicon glyphicon-certificate</pre>            |
|  <span class="glyphicon glyphicon-thumbs-up"></span>               |  <pre>glyphicon glyphicon-thumbs-up</pre>              |
|  <span class="glyphicon glyphicon-thumbs-down"></span>             |  <pre>glyphicon glyphicon-thumbs-down</pre>            |
|  <span class="glyphicon glyphicon-hand-right"></span>              |  <pre>glyphicon glyphicon-hand-right</pre>             |
|  <span class="glyphicon glyphicon-hand-left"></span>               |  <pre>glyphicon glyphicon-hand-left</pre>              |
|  <span class="glyphicon glyphicon-hand-up"></span>                 |  <pre>glyphicon glyphicon-hand-up</pre>                |
|  <span class="glyphicon glyphicon-hand-down"></span>               |  <pre>glyphicon glyphicon-hand-down</pre>              |
|  <span class="glyphicon glyphicon-circle-arrow-right"></span>      |  <pre>glyphicon glyphicon-circle-arrow-right</pre>     |
|  <span class="glyphicon glyphicon-circle-arrow-left"></span>       |  <pre>glyphicon glyphicon-circle-arrow-left</pre>      |
|  <span class="glyphicon glyphicon-circle-arrow-up"></span>         |  <pre>glyphicon glyphicon-circle-arrow-up</pre>        |
|  <span class="glyphicon glyphicon-circle-arrow-down"></span>       |  <pre>glyphicon glyphicon-circle-arrow-down</pre>      |
|  <span class="glyphicon glyphicon-globe"></span>                   |  <pre>glyphicon glyphicon-globe</pre>                  |
|  <span class="glyphicon glyphicon-wrench"></span>                  |  <pre>glyphicon glyphicon-wrench</pre>                 |
|  <span class="glyphicon glyphicon-tasks"></span>                   |  <pre>glyphicon glyphicon-tasks</pre>                  |
|  <span class="glyphicon glyphicon-filter"></span>                  |  <pre>glyphicon glyphicon-filter</pre>                 |
|  <span class="glyphicon glyphicon-briefcase"></span>               |  <pre>glyphicon glyphicon-briefcase</pre>              |
|  <span class="glyphicon glyphicon-fullscreen"></span>              |  <pre>glyphicon glyphicon-fullscreen</pre>             |
|  <span class="glyphicon glyphicon-dashboard"></span>               |  <pre>glyphicon glyphicon-dashboard</pre>              |
|  <span class="glyphicon glyphicon-paperclip"></span>               |  <pre>glyphicon glyphicon-paperclip</pre>              |
|  <span class="glyphicon glyphicon-heart-empty"></span>             |  <pre>glyphicon glyphicon-heart-empty</pre>            |
|  <span class="glyphicon glyphicon-link"></span>                    |  <pre>glyphicon glyphicon-link</pre>                   |
|  <span class="glyphicon glyphicon-phone"></span>                   |  <pre>glyphicon glyphicon-phone</pre>                  |
|  <span class="glyphicon glyphicon-pushpin"></span>                 |  <pre>glyphicon glyphicon-pushpin</pre>                |
|  <span class="glyphicon glyphicon-usd"></span>                     |  <pre>glyphicon glyphicon-usd</pre>                    |
|  <span class="glyphicon glyphicon-gbp"></span>                     |  <pre>glyphicon glyphicon-gbp</pre>                    |
|  <span class="glyphicon glyphicon-sort"></span>                    |  <pre>glyphicon glyphicon-sort</pre>                   |
|  <span class="glyphicon glyphicon-sort-by-alphabet"></span>        |  <pre>glyphicon glyphicon-sort-by-alphabet</pre>       |
|  <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>    |  <pre>glyphicon glyphicon-sort-by-alphabet-alt</pre>   |
|  <span class="glyphicon glyphicon-sort-by-order"></span>           |  <pre>glyphicon glyphicon-sort-by-order</pre>          |
|  <span class="glyphicon glyphicon-sort-by-order-alt"></span>       |  <pre>glyphicon glyphicon-sort-by-order-alt</pre>      |
|  <span class="glyphicon glyphicon-sort-by-attributes"></span>      |  <pre>glyphicon glyphicon-sort-by-attributes</pre>     |
|  <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>  |  <pre>glyphicon glyphicon-sort-by-attributes-alt</pre> |
|  <span class="glyphicon glyphicon-unchecked"></span>               |  <pre>glyphicon glyphicon-unchecked</pre>              |
|  <span class="glyphicon glyphicon-expand"></span>                  |  <pre>glyphicon glyphicon-expand</pre>                 |
|  <span class="glyphicon glyphicon-collapse-down"></span>           |  <pre>glyphicon glyphicon-collapse-down</pre>          |
|  <span class="glyphicon glyphicon-collapse-up"></span>             |  <pre>glyphicon glyphicon-collapse-up</pre>            |
|  <span class="glyphicon glyphicon-log-in"></span>                  |  <pre>glyphicon glyphicon-log-in</pre>                 |
|  <span class="glyphicon glyphicon-flash"></span>                   |  <pre>glyphicon glyphicon-flash</pre>                  |
|  <span class="glyphicon glyphicon-log-out"></span>                 |  <pre>glyphicon glyphicon-log-out</pre>                |
|  <span class="glyphicon glyphicon-new-window"></span>              |  <pre>glyphicon glyphicon-new-window</pre>             |
|  <span class="glyphicon glyphicon-record"></span>                  |  <pre>glyphicon glyphicon-record</pre>                 |
|  <span class="glyphicon glyphicon-save"></span>                    |  <pre>glyphicon glyphicon-save</pre>                   |
|  <span class="glyphicon glyphicon-open"></span>                    |  <pre>glyphicon glyphicon-open</pre>                   |
|  <span class="glyphicon glyphicon-saved"></span>                   |  <pre>glyphicon glyphicon-saved</pre>                  |
|  <span class="glyphicon glyphicon-import"></span>                  |  <pre>glyphicon glyphicon-import</pre>                 |
|  <span class="glyphicon glyphicon-export"></span>                  |  <pre>glyphicon glyphicon-export</pre>                 |
|  <span class="glyphicon glyphicon-send"></span>                    |  <pre>glyphicon glyphicon-send</pre>                   |
|  <span class="glyphicon glyphicon-floppy-disk"></span>             |  <pre>glyphicon glyphicon-floppy-disk</pre>            |
|  <span class="glyphicon glyphicon-floppy-saved"></span>            |  <pre>glyphicon glyphicon-floppy-saved</pre>           |
|  <span class="glyphicon glyphicon-floppy-remove"></span>           |  <pre>glyphicon glyphicon-floppy-remove</pre>          |
|  <span class="glyphicon glyphicon-floppy-save"></span>             |  <pre>glyphicon glyphicon-floppy-save</pre>            |
|  <span class="glyphicon glyphicon-floppy-open"></span>             |  <pre>glyphicon glyphicon-floppy-open</pre>            |
|  <span class="glyphicon glyphicon-credit-card"></span>             |  <pre>glyphicon glyphicon-credit-card</pre>            |
|  <span class="glyphicon glyphicon-transfer"></span>                |  <pre>glyphicon glyphicon-transfer</pre>               |
|  <span class="glyphicon glyphicon-cutlery"></span>                 |  <pre>glyphicon glyphicon-cutlery</pre>                |
|  <span class="glyphicon glyphicon-header"></span>                  |  <pre>glyphicon glyphicon-header</pre>                 |
|  <span class="glyphicon glyphicon-compressed"></span>              |  <pre>glyphicon glyphicon-compressed</pre>             |
|  <span class="glyphicon glyphicon-earphone"></span>                |  <pre>glyphicon glyphicon-earphone</pre>               |
|  <span class="glyphicon glyphicon-phone-alt"></span>               |  <pre>glyphicon glyphicon-phone-alt</pre>              |
|  <span class="glyphicon glyphicon-tower"></span>                   |  <pre>glyphicon glyphicon-tower</pre>                  |
|  <span class="glyphicon glyphicon-stats"></span>                   |  <pre>glyphicon glyphicon-stats</pre>                  |
|  <span class="glyphicon glyphicon-sd-video"></span>                |  <pre>glyphicon glyphicon-sd-video</pre>               |
|  <span class="glyphicon glyphicon-hd-video"></span>                |  <pre>glyphicon glyphicon-hd-video</pre>               |
|  <span class="glyphicon glyphicon-subtitles"></span>               |  <pre>glyphicon glyphicon-subtitles</pre>              |
|  <span class="glyphicon glyphicon-sound-stereo"></span>            |  <pre>glyphicon glyphicon-sound-stereo</pre>           |
|  <span class="glyphicon glyphicon-sound-dolby"></span>             |  <pre>glyphicon glyphicon-sound-dolby</pre>            |
|  <span class="glyphicon glyphicon-sound-5-1"></span>               |  <pre>glyphicon glyphicon-sound-5-1</pre>              |
|  <span class="glyphicon glyphicon-sound-6-1"></span>               |  <pre>glyphicon glyphicon-sound-6-1</pre>              |
|  <span class="glyphicon glyphicon-sound-7-1"></span>               |  <pre>glyphicon glyphicon-sound-7-1</pre>              |
|  <span class="glyphicon glyphicon-copyright-mark"></span>          |  <pre>glyphicon glyphicon-copyright-mark</pre>         |
|  <span class="glyphicon glyphicon-registration-mark"></span>       |  <pre>glyphicon glyphicon-registration-mark</pre>      |
|  <span class="glyphicon glyphicon-cloud-download"></span>          |  <pre>glyphicon glyphicon-cloud-download</pre>         |
|  <span class="glyphicon glyphicon-cloud-upload"></span>            |  <pre>glyphicon glyphicon-cloud-upload</pre>           |
|  <span class="glyphicon glyphicon-tree-conifer"></span>            |  <pre>glyphicon glyphicon-tree-conifer</pre>           |
|  <span class="glyphicon glyphicon-tree-deciduous"></span>          |  <pre>glyphicon glyphicon-tree-deciduous</pre>         |
*/